numpy>=1.24
pandas>=2.0
geopandas>=0.14
rasterio>=1.3
richdem>=0.3
pysheds>=0.3
shapely>=2.0
fiona>=1.9
rasterstats>=0.19
scikit-learn>=1.3
jenkspy>=0.3
folium>=0.15
matplotlib>=3.7
seaborn>=0.12
laspy>=2.4
scipy>=1.11
pyproj>=3.6
tqdm>=4.65
